* {
  font-family: 'Norican', cursive;
  font-family: 'Marvel', sans-serif;
}

.red {
  background-image: url('../assets/images/star-wars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px; 

}

.amber {
  background-image: url('../assets/images/eclipse.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px; 

}

.green {
  background-image: url('../assets/images/goku.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px; 

}

.blue {
  background-image: url('../assets/images/señor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px; 

}