* {
  font-family: 'Norican', cursive;
  font-family: 'Marvel', sans-serif;
}

/*Index */

.grad {
  background-image: url(../assets/images/back-login.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grad1 {
  background-color: rgba(49, 47, 47, 0.514);
  height: 100vh;
}

.title {
  margin: 0;
  margin-left: 8%;
  font-family: 'Norican', cursive;
  font-size: 7em;
  color: rgb(214, 163, 23);
  padding: 160px 0;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.title1 {
  color: whitesmoke;
  margin-top: -150px;
  font-size: 2em;
  margin-left: 13%;
}

.btones{
  margin-left: 25%;
  margin-top: 30px;
}

.btn-index1,
.btn-index2 {
  color: white;
  font-size: 2em;
  border-radius: 25px;
  background-color: rgba(27, 200, 212, 0.678);
  width: 40vw;
  padding: 10px;
}

.btn-index1:hover,
.btn-index2:hover {
  background-color: rgba(226, 173, 27, 0.459);
  color: white;
}