.back-login {
  background-image: url(../assets/images/bacl-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-circle-o {
  font-size: 10px;
  color: #050000;
}
  
div.line::after {
  display: inline-block;
  margin: 0 0 12px 10px;
  height: 3px;
  content: " ";
  background-color: rgb(5, 0, 0);
  width: 40px;
}
  
div.line::before {
  display: inline-block;
  margin: 0 10px 12px 0;
  height: 3px;
  content: " ";
  background-color: rgb(5, 0, 0);
  width: 40px;
}

.login {
  background-color: #2020202d;
  opacity: 0.5;
}

.block {
  display: block;
}