* {
  font-family: 'Norican', cursive;
  font-family: 'Marvel', sans-serif;
}

/*Index */

.grad {
  background-image: url(../assets/images/back-login.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.grad1 {
  background-color: rgba(49, 47, 47, 0.514);
  height: 100vh;
}

.title {
  margin: 0;
  font-family: 'Norican', cursive;
  font-size: 7em;
  color: rgb(214, 163, 23);
  padding: 160px 0;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

.title1 {
  color: whitesmoke;
  margin-top: -150px;
  font-size: 2em;
}

.btones{
  margin-left: 25%;
  margin-top: 30px;
}

.btn-index1,
.btn-index2 {
  color: white;
  font-size: 2em;
  border-radius: 25px;
  background-color: rgba(27, 200, 212, 0.678);
  width: 40vw;
  padding: 10px;
}

.btn-index1:hover,
.btn-index2:hover {
  background-color: rgba(226, 173, 27, 0.459);
  color: white;
}

/*home*/

.logo-div {
  font-family: 'Norican', cursive;
}

.logo-navbar {
  font-size: 2em;
  color: rgb(214, 163, 23);
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}

#carousel {
  position: relative;
  height: 400px;
  top: 35%;
  transform: translateY(-50%);
  overflow: hidden;
}

#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
