<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.css"> 
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/chat.css">
  <title>Document</title>
</head>
  <body>
    <form action="">
      <ul class="mess" id="chatUl"></ul>
        <div class="conversacion">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre">
        </div>
        <div class="conversacion">
          <label for="mensaje">Mensaje</label>
          <textarea id="mensaje"></textarea>
        </div>
        <button class="btn-chat" type="button" id="btnEnviar">Enviar</button>
        </form>  
        <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
        <script>
        // Initialize Firebase
        var config = {
        apiKey: "AIzaSyDnba3U4s9SCTTtsyzKCgROhAXiJAWIOcU",
        authDomain: "practicando-213d2.firebaseapp.com",
        databaseURL: "https://practicando-213d2.firebaseio.com",
        projectId: "practicando-213d2",
        storageBucket: "practicando-213d2.appspot.com",
        messagingSenderId: "670989432436"
        };
        firebase.initializeApp(config);
        var txtNombre = document.getElementById('nombre');
        var txtMensaje = document.getElementById('mensaje');
        var btnEnviar = document.getElementById('btnEnviar');
        var chatUl = document.getElementById('chatUl');
        btnEnviar.addEventListener("click", function() {
        var nombre = txtNombre.value;
        var mensaje = txtMensaje.value;
        var html = "<li><b>"+nombre+": </b>"+mensaje+"</li>";
        chatUl.innerHTML += html;
        firebase.database().ref('chat').push({
            name: nombre,
            menssaje: mensaje
        });
        });
        firebase.database().ref('chat')
        .on('value', function(snapshot) {
            var html = '';
            snapshot.forEach(function (e) {
            var element = e.val();
            var nombre = element.name;
            var mensaje = element.menssaje;
            html+= "<li><b>"+nombre+": </b>"+mensaje+"</li>";
            });
            chatUl.innerHTML = html;
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>