<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Safanatics</title>
  <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.css">
  <link rel="stylesheet" href="../css/home.css">
  <link href="https://fonts.googleapis.com/css?family=Marvel:400,400i,700,700i|Norican" rel="stylesheet">
</head>
  <body>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Safanatics</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="movie.html">Movie</a></li>
        <li><a href="chat.html">chat</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Perfil<i class="material-icons right"></i></a></li>
      </ul>
    </div>
  </nav>

        
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
          <h2>Star Wars</h2>
          <p class="white-text">Star Wars</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Eclipse</h2>
          <p class="white-text">Eclipse</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Dragon ball</h2>
          <p class="white-text">Dragon ball</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>El señor de los anillos</h2>
          <p class="white-text">El señor de los anillos</p>
        </div>
      </div>
          
      
      <div class="container">
        <main class="main-container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-white">¡Bienvenido! ¿Qué tal si empezamos a buscar la primera saga?</h1>
              <div class="input-group input-group-lg form-search">
                <span class="input-group-addon" id="sizing-addon1"> <i class="fa fa-search"></i> </span>
                <input type="text" class="form-control form-search" placeholder="Nombre de la saga" aria-describedby="sizing-addon1" id="search-input-js">
              </div>
            </div>
            <div class="col-xs-12">
              <br>
              <button type="button" name="button" class="btn btn-info btn-search" id="searchButton"> Buscar</button>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <div id="container-movies-js"></div>
            </div>
          </div>
          <div class="row flex-box">
            <div class="col-xs-8 ">
            <!--  <div id="container-movies-js"></div>-->
              <br>
              <br>
              <br>
        </main>
      </div>

    <script src="../vendors/jquery/jquery-3.2.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/home.js"></script>
  </body>
</html>
