<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/icons/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/pagina1.css">
    <title>Document</title>
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>

<!--section search-->
      <ul>
      <li class="search">
            <div class="search-box">
              <form action="">
                <input type="text" placeholder="Busca tu saga">
              </form>
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </li>
    </ul>
<!-- Dropdown -->
    <div class="dropdown-1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
    </div>
    <div class="dropdown-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>

        <!-- Carrusel -->

        <section>
                <div class="container-img">
                    <div><img src="../assets/images/gotzila.jpg" alt="" width="100%"></div>
                    <div><img src="../assets/images/liga.jpg" alt="" width="100%"></div>
                    <div><img src="../assets/images/thor.jpg" alt="" width="100%"></div>
                    <div><img src="../assets/images/divergente.jpg" alt="" width="100%"></div>
                    <div><img src="../assets/images/3msc.jpg" alt="" width="100%"></div>
                    <a class="prev">&#10094;</a>
                    <a class="next">&#10095;</a>
                </div>
                <div class="container-btn">
                    <input type="radio" class="btn-circle" name="btn" value="0">
                    <input type="radio" class="btn-circle" name="btn" value="1">
                    <input type="radio" class="btn-circle" name="btn" value="2">
                    <input type="radio" class="btn-circle" name="btn" value="3">
                    <input type="radio" class="btn-circle" name="btn" value="4">
                </div>
            </section>

    <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/pagina1.js"></script>
</body>
</html>